@{
    ViewData["Title"] = "Esercizi Razor";
}

<div class="text-center">
    <h2>@ViewData["Message"]</h2>
    <span>@ViewData["SumResult"]</span>
    <span>@ViewData["HowManyA"]</span>
    <span>@ViewData["RndNum"]</span>
    <span>@ViewData["Today"]</span>
    <span>@ViewData["OneWickAgo"]</span>
    <span>@ViewData["Day"]</span>
    <span>@ViewData["DayOneYear"]</span>
   
    
</div>