@{
    ViewData["Title"] = "Esercizi Razor";
}

<div class="text-center">
    <h2>@ViewData["Message"]</h2>
    <span>@ViewData["SumResult"]</span>
    <span>@ViewData["HowManyA"]</span>
    <span>@ViewData["RndNum"]</span>
    @*<span>@ViewBag.nums</span>
     @foreach (int num in @ViewBag.nums)
    {
        if(num>= 20 && num <= 70)
        {
            <span>@num</span>
        }
    }*@
    
</div>